@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
  
  /* Hide standard browser password reveal icons */
  input::-ms-reveal,
  input::-ms-clear {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}